#wrapper{
  width: 100%;
  background-color: #f4F4F4;
  position: absolute;
  margin-top: 3px;
}

.container-fluid #header{
  margin-left: 0.5em;
  margin-bottom: 1em;
}

form{
  margin-left: 0.5em;
}

table {
  width: 100%;
  background-color: white;
}
#datatable{
font-family: 'Crimson Text', sans-serif;
}
