<div class="container-fluid" id="wrapper">
  <div id="header">
    <h3>Add Product</h3>
    <span>Here You can add a product</span>
  </div>

  <div class="product-container">
    <form [formGroup] = "myForm">
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">Brand</label>
        <input type="text" class="form-control" formControlName = "brand">
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">Product Name</label>
        <input type="text" class="form-control" formControlName = "product_name">
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">SKU</label>
        <input type="text" class="form-control" formControlName = "sku">
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">Category</label>
        <input type="text" class="form-control" formControlName = "category">
      </div>
        <div class="col-md-6">
          <label for="exampleFormControlSelect1" style="font-family: 'Crimson Text', sans-serif">Product Type</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="type"  (change)="changeCategory($event)" [ngModel]="type_name">
            <option  *ngFor="let type of types; index as i" [value]="type.name">{{type.name}}</option>
            <option></option>
          </select>
        </div>
      <div class="form-group col-md-6">
        <label for="exampleFormControlTextarea1" style="font-family: 'Crimson Text', sans-serif">Short Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" formControlName="short_description"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="exampleFormControlTextarea1" style="font-family: 'Crimson Text', sans-serif">Product Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">Product Price</label>
        <input type="text" class="form-control" formControlName = "price">
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">Product Quantity</label>
        <input type="text" class="form-control" formControlName = "quantity">
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">Stock Status</label>
        <select class="form-control" id="stockId" formControlName="stockStatus" [value]="stock_name">
          <option [value]="stock_name">{{stock_name}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif;">Product Image</label>
        <div class="drag-container" appDnd (fileDropped)="onFileDropped($event)">
          <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target)" />
          <img src="assets/dnd/ic-upload-file.svg" alt="">
          <h3>Drag and drop file here</h3>
          <h3>or</h3>
          <label for="fileDropRef">Browse for file</label>
        </div>
        <div class="files-list">
          <div class="single-file" *ngFor="let file of files; let i = index">
            <img src="assets/dnd/ic-file.svg" width="45px" alt="file">
            <div class="info">
              <h4 class="name">
                {{ file?.name }}
              </h4>
              <p class="size">
                {{ formatBytes(file?.size) }}
              </p>
              <app-progress [progress]="file?.progress"></app-progress>
            </div>
            <img src="assets/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
          </div>
        </div>
        <div class="image-thumbnail">
          <div class="row">
            <div class="col-md-3"  *ngFor="let url of imageUrls; let i=index">
              <img [src]="'https://res.cloudinary.com/dwoyu3cxt/image/upload/c_scale,w_150/v1633752720/'+url.url" />
            </div>
          </div>
        </div>
      </div>
    </form>

    <button type="submit" class="submit-info" (click)="update()">Submit</button>
  </div>
</div>
