<app-dashboard></app-dashboard>
<div class="container-fluid" id="wrapper">
  <div id="header">
    <h3>Add Product</h3>
    <span>Here You can add a product</span>
  </div>

  <div class="product-container">
    <form [formGroup] = "myForm">
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">Brand</label>
        <input type="text" class="form-control" formControlName = "brand">
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">Product Name</label>
        <input type="text" class="form-control" formControlName = "productName">
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">SKU</label>
        <input type="text" class="form-control" formControlName = "SKU">
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">Category</label>
        <input type="text" class="form-control" formControlName = "category">
      </div>
      <div class="form-group col-md-6">
        <label for="exampleFormControlSelect1" style="font-family: 'Crimson Text', sans-serif">Product Type</label>
        <select class="form-control" id="exampleFormControlSelect1" formControlName="type" (change)="changeCategory($event)">
          <option>Select Type</option>
          <option [value]="cat.type_id" *ngFor="let cat of types; index as i">{{cat.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="exampleFormControlTextarea1" style="font-family: 'Crimson Text', sans-serif">Product Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="productDescription"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">Product Price</label>
        <input type="text" class="form-control" formControlName = "productPrice">
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">Product Quantity</label>
        <input type="text" class="form-control" formControlName = "productQuantity">
      </div>
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif">Stock</label>
        <select class="form-control" id="stockId" formControlName="stockStatus" [value]="">
          <option value="select" selected>Select Stock</option>
          <option *ngFor="let s of stock; let i=index" [value]="s">{{s}}</option>
        </select>
      </div>
      <div class="form-check" style="position: relative; left: 1em">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Clearance
        </label>
      </div><br />
      <div class="form-group col-md-6">
        <label style="font-family: 'Crimson Text', sans-serif;">Product Image</label>
        <div class="drag-container" appDnd (fileDropped)="onFileDropped($event)">
          <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target)" />
          <img src="assets/dnd/ic-upload-file.svg" alt="">
          <h3>Drag and drop file here</h3>
          <h3>or</h3>
          <label for="fileDropRef">Browse for file</label>
        </div>
        <div class="files-list">
          <div class="single-file" *ngFor="let file of files; let i = index">
            <img src="assets/dnd/ic-file.svg" width="45px" alt="file">
            <div class="info">
              <h4 class="name">
                {{ file?.name }}
              </h4>
              <p class="size">
                {{ formatBytes(file?.size) }}
              </p>
              <app-progress [progress]="file?.progress"></app-progress>
            </div>
            <img src="assets/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
          </div>
        </div>
      </div>

    </form>

    <button type="submit" class="submit-info" (click)="saveProduct()">Submit</button>
  </div>
</div>
